<!-- Style -->
<link rel="stylesheet" href="~/css/ubicacion.css" />

<section id="ubicacion" class="ubicacion-section">
    <div class="container animate-in">
        <h2>Ubicación</h2>
        <p>Encuéntranos en nuestra oficina central:</p>

        <!-- Google Maps -->
        <div class="map-container animate-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1364.9567710072606!2d-90.51574629549773!3d14.617253315489927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8589a231888892b9%3A0x9c950113b4cfa2de!2sEdificio%207-47!5e0!3m2!1ses-419!2sgt!4v1759288053294!5m2!1ses-419!2sgt" 
                    width="600" 
                    height="450" 
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
         
        </div>
    </div>
</section>

